header{
    position: fixed;
    width: 100%;
    height: 100px;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 10px;
    background-color: aquamarine;
    border: 1px solid #f00;
}
.logo img{
    max-width: 150px;
    height: auto;
}
.nav{
    display: flex;
    gap: 32px;
    list-style-type: none;
}
.nav-icon{
    transform: scale(1.1);
    color: blueviolet;
}
.search{
    display: flex;
    justify-content: end;
    gap: 10px;
}
.main-home{
    border: 1px;
    display: flex;
    align-items: stretch;
}
main{
    margin: 100px 0 0 0;
    padding: 50px 20px 0 20px;
    margin-top: 150px;
}
.main-home-text-left{
    width: 40%;
    text-align: center; 
    display: flex;
    justify-content: none;
    align-items: center;
}
.main-home-image-right{
    width: 60%;
}
.main-home-bg{
    height: 800%;
    background-image: url(../images/hommes1.jpg);
    background-position: relative;
    background-size: cover;
}
footer{
    border: 5px solid #f00;
    width: 100%;
    height: 100%;
}